body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.vr-line {
  border-left: 1px solid #f0f0f0;
  height: 2rem;
}

.hr-line {
  border: 0;
  height: 1px;
  background: #f0f0f0;
}

.fit-content-width {
  width: fit-content;
}

.cursor-pointer {
  cursor: pointer;
}

.border-cover {
  border: 2px solid #f0f0f0;
  padding: 1rem;
  border-radius: 0.5rem;
}
